%h1 ショッピングカート

- @order_products.each do |order_product|
  = render order_product do
    .float-right
      = link_to '削除する', order_product_path(order_product), method: :delete

.row.create_order.mt-3
  = link_to '購入手続きへ', new_order_path
